@mixin btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 12px 24px;
    font-size: 1rem;
    transition: 0.25s;
    text-decoration: none !important;
    
    &:hover {
        transition: 0.25s;
        text-decoration: none;
    }
}

.btn-primary {
   @include btn;
   background-color: var(--color-primary);
   color: var(--color-white);
   
   &:hover {
    background-color: var(--color-gray600);
    color: var(--color-white);
   }

   i {
    margin-right: 0.5em;
   }
}
.btn-store {
    @include btn;
    background-color: var(--btn-store-bg);
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--color-gray600);
    }
}
.btn-contact {
    @include btn;
    background-color: var(--color-primary);
   color: var(--color-white);

   &:hover {
    background-color: var(--color-gray600);
    color: var(--color-white);
   }
 }
.btn-learn-more {
    @include btn;
    width: 10em;
    margin-top: 2rem;

    i {
        margin-left: 0.5rem;
        margin-right: 0;
        padding-top: 0.2rem;
    }
}


@mixin btn-round {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s;
}
.btn-circle {
    @include btn-round;
    background-color: var(--color-white-to-gray);
    color: var(--color-text);

    &:hover {
        background-color: var(--color-primary);
        text-decoration: none;
    }
}
.btn-circle-down {
    @include btn-round;
    height: 36px;
    width: 36px;
    background-color: var(--color-white-to-gray);
    color: var(--color-gray900);

    i {
        color: var(--color-text);
    }
}
.btn-circle-up {
    @include btn-round;
    height: 36px;
    width: 36px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

@mixin toggle-switch {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    .label {
        display: none;
        color: var(--color-text-heading);
        
        @media (min-width:768px) {
            display: block;
        }
        @media (min-width: 1400px) {          
            display: block;
        }
    }

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;

    input {
        opacity: 0;

        &:checked +.slider {
            background-color: gray;
        }

        &:focus +.slider {
            box-shadow: 0 0 1px gray;
        }

        &:checked +.slider::before {
            transform: translateX(18px);
            background-color: white;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: gray;
        transition: all 0.2s;

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 2.5px;
            background-color: white;
            transition: all 0.2s;
        }

        &.round {
            border-radius: 35px;

            &::before {
                border-radius: 50%
            }
        }
    }
}
}
.btn-toggle-switch {
    @include toggle-switch;
}

@mixin btn-mobile {
    background-color: transparent;
    color: var(--color-gray900);
    border: none;
    font-size: 2rem;

    @media (min-width: 1400px) {
        display: none;
    }
}

.btn-mobile {
    @include btn-mobile;
}

@mixin btn-sub {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0 8px 8px 0;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: var(--transition-time);

    &:hover {
        background-color: var(--color-gray500);
        color: var(--color-white);
        text-decoration: none;
        transition: var(--transition-time);
    }
}
.btn-subscribe {
    @include btn-sub;
}
